/* Estilos Globales */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f7d372;
  color: #333;
  box-sizing: border-box;
}

.header{
  background-color: #1b3039;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
}
.header .logo{
  cursor: pointer;
  margin-right: auto;
}

.header .logo img{
  height: 70px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover{
  transform: scale(1.2);
}

.header .nav-links{
  list-style: none;
  display: flex; /* Use flexbox for horizontal alignment */
  align-items: center; /* Vertically center items */
  background-color: #1b3039;
  border: none;

}

.header .nav-links  li.factura {
  background-color: transparent;
  display: inline-block;
  padding: 0 20px;

}
.header .nav-links  li.producto {
  background-color: transparent;
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links li.factura a{
  transform: scale(1.1);
}
.header .nav-links li.prudcto a{
  transform: scale(1.1);
}
.header .nav-links  a{
  font-size: 70%;
  color: #fffcfc;
  text-decoration: none;
}

.header .nav-links  li.factura a:hover{
  color: #ffbc0e;
}
.header .nav-links  li.producto a:hover{
  color: #ffbc0e;
}


.header .btn button{
  margin-left: 20px;
  font-weight: 700;
  color: #1b3039;
  padding: 9px 25px;
  background: #eceff1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header .btn button:hover{
  background-color: #e2f1f8;
  color: #ffbc0e;
  transform: scale(1.1);
}

/* Contenedor principal */
#app {
  max-width: 800px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Títulos */
h1, h2, h3 {
  color: #4A4A4A;
  margin-bottom: 10px;
}

/* Formularios */
form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input, select, button {
  margin-bottom: 15px;
  padding: 12px;
  width: 100%;
  border: 1px solid #1b3039;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 16px;
}

input:focus, select:focus {
  border-color: #007BFF;
  outline: none;
}

/* Listas */
ul {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
}

li {
  padding: 10px;
  cursor: pointer;
}

li:hover {
  background-color: #f0f0f0;
}

/* Tablas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-spacing: 0px;
  box-shadow: 0px 2px 5px #1b3039(0, 0, 0, 0.3);

}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  font-family: Arial, sans-serif;
  border-radius: 20px;
  border: none;
}

th {
  background-color: #f2f2f2;
  background-color: #1b3039;
  color: #ffffff;
  border-radius: 20px;
}

th {
  background-color: #007BFF;
  color: white;
}

/* Botones */
button {
  justify-content: space-around;
  display: flex;
  position: static;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  font-weight: 300;
  color: #1b3039;
  padding: 10px;
  background: #bdc0c2;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #1b3039;
  color: #ffbc0e;
  transform: scale(1.03);

}

/* Secciones de mensajes */
h2 + div {
  margin-top: 20px;
  padding: 10px;
  background-color: #e7f1ff;
  border: 1px solid #007BFF;
  border-radius: 4px;

}
